<div class="blog-post">
    <h3><a href="{{ path('post', {seo_title: art.title}) }}">{{ art.title | default('') }}</a> <small>{{ art.registered }}</small></h3>
    {#<img class="thumbnail" src="http://placehold.it/850x350">#}
    <p>{{ art.content }}</p>
    <div class="callout">
        <ul class="menu simple">
            <li><a href="#">Author: Mike Mikers</a></li>
            <li><a href="#">Comments: 3</a></li>
        </ul>
    </div>
</div>